body{
        background-color: gainsboro;
      }
      header,footer{
        background-color:darkslategray;
        text-align:center;
        color:white;
         border-radius: 5px ;
         padding: 15px;
	margin:15px;
      }
      a{
        color: white;
        text-decoration:none;
	margin:10px;
      }
	main{
		margin:15px;
		padding:15px;

	}
	h2{
		text-align:center;
		margin:20px;
		color:darkslategray;
	}
	table{
		width:100%;
	}
	td{
		padding:20px;
		border:1px solid gainsboro;
		background-color:white;	
		box-shadow:1px 1px 2px;
	}
	td.table1-cell1{
		width:25%;
	}
	td.table1-cell2{
		width:40%;
	}
	td.table1-cell3{
		width:35%;		
	}
	li{
		padding:10px;	
	}
	h3{
		color:darkslategray;
		
	}
	a.profile-link{
		color:CornflowerBlue;
		font-weight:bold;
		
	}